# VacationPy

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("Resources/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-06-28 17:59:41,-53.1500,-70.9167,41.11,75,75,12.66
1,1,Matinhos,BR,2022-06-28 17:59:41,-25.8175,-48.5428,75.90,70,30,6.44
2,2,Bluff,NZ,2022-06-28 17:59:42,-46.6000,168.3333,40.80,77,100,19.30
3,3,Oranjemund,NaN,2022-06-28 17:59:42,-28.5500,16.4333,72.45,32,0,10.98
4,4,Nanortalik,GL,2022-06-28 17:59:42,60.1432,-45.2371,47.07,66,100,14.50

In [3]:
city_data_df.info()

# maps datatype must be either an integer or a float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     578 non-null    int64
 1   City        578 non-null    object
 2   Country     572 non-null    object
 3   Date        578 non-null    object
 4   Lat         578 non-null    float64
 5   Lng         578 non-null    float64
 6   Max Temp    578 non-null    float64
 7   Humidity    578 non-null    int64
 8   Cloudiness  578 non-null    int64
 9   Wind Speed  578 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.3+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Google heatmaps do not plot negative numbers. 
# If max temp less than 0 Â°F = InvalidWeightException error
# Make a for loop to get all max temp >0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [ ]:
#In the for loop, use max() function to get the largest value between the temp and 0. 
#If the temp is less than 0, then 0 will be added to the list in its place. 
#Otherwise, the temp is added to the list.

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp]) # previously weights=temps

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.

Replace temps with our code for the list comprehension so our heat_layer code looks like the following:

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [7]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)  # add attributes here
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap for humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)  # add attributes here
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# heatmap for wind speed

locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
###### ask for temp input

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 82

In [12]:
# filter df against this criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Matinhos,BR,2022-06-28 17:59:41,-25.8175,-48.5428,75.90,70,30,6.44
5,5,Teguise,ES,2022-06-28 17:59:42,29.0605,-13.5640,71.82,57,40,21.85
8,8,Jamestown,US,2022-06-28 17:59:24,42.0970,-79.2353,70.95,51,0,3.00
11,11,Albany,US,2022-06-28 17:59:44,42.6001,-73.9662,74.88,55,17,7.36
13,13,Monteagudo,BO,2022-06-28 17:59:45,-19.8167,-63.9833,69.49,51,42,7.90

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
# copy the df to hold the hotels

hotel_df = preferred_cities_df[["City", "Country","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1       Matinhos      BR     75.90 -25.8175  -48.5428
5        Teguise      ES     71.82  29.0605  -13.5640
8      Jamestown      US     70.95  42.0970  -79.2353
11        Albany      US     74.88  42.6001  -73.9662
13    Monteagudo      BO     69.49 -19.8167  -63.9833
17           Gat      IL     79.81  31.6100   34.7642
21        Palora      EC     80.71  -1.7000  -77.9333
23  Ornskoldsvik      SE     76.15  63.2909   18.7153
24        Padang      ID     76.21  -0.9492  100.3543
29         Iwaki      JP     74.77  37.0500  140.8833

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# iterate through the hotel df to get all the names

for index, row in hotel_df.iterrows():
    # get lat and long
    lat = row["Lat"]
    lng = row["Lng"]
      
    # set parameters which will pass with the url query (see gmaps documentation)
    # format is a dictionary with key:value pairs
    # add the lat and long to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
        
    # use the search term "lodging" and lat long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #print(f"Processing")
    
    # make request and get json
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from the results and store the name
    try: 
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [23]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Matinhos,BR,75.90,-25.8175,-48.5428,Hotel Pousada Girassol
5,Teguise,ES,71.82,29.0605,-13.5640,B&B La Casona de Nazaret
8,Jamestown,US,70.95,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Albany,US,74.88,42.6001,-73.9662,
13,Monteagudo,BO,69.49,-19.8167,-63.9833,"Residencial ""OLIVIA"""

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))