## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Port Alfred,ZA,67.9,clear sky,-33.5906,26.8910,The Halyards Hotel
1,10,Nabire,ID,74.4,broken clouds,-3.3667,135.4833,Hotel Nusantara I
2,11,Vaini,TO,73.6,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,12,Rikitea,PF,72.1,light rain,-23.1203,-134.9692,People ThankYou
4,22,Saint-Philippe,RE,69.4,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Isesaki"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Isesaki"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hasaki"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Tateyama"]

In [46]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
282,657,Isesaki,JP,78.7,clear sky,36.3167,139.2,シーズ

In [110]:
stop2 = (vacation_stop2["Lat"], vacation_stop2["Lng"]).to_numpy()
print(type(stop2))
print(stop2)

AttributeError: 'tuple' object has no attribute 'to_numpy'

In [73]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy(dtype=tuple))
end = (vacation_end["Lat"], vacation_end["Lng"])
stop1 = tuple(zip(vacation_stop1["Lat"], vacation_stop1["Lng"]))
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(type(start), start, type(end), end, stop1, stop2, type(stop2))

<class 'tuple'> (array([36.3167, 139.2], dtype=object),) <class 'tuple'> (282    36.3167
Name: Lat, dtype: float64, 282    139.2
Name: Lng, dtype: float64) ((35.7333, 140.8333),) (35.1333, 140.3) <class 'tuple'>

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure

In [105]:
pd.DataFrame({"A": [1, 2,4,6,8,90], "B": [3, 4,7,2,56,21]}).to_numpy()[4],[3]

(array([ 8, 56], dtype=int64), [3])