## Deliverable 3. Create a Travel Itinerary Map.

In [60]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Port Alfred,ZA,67.9,clear sky,-33.5906,26.8910,The Halyards Hotel
1,10,Nabire,ID,74.4,broken clouds,-3.3667,135.4833,Hotel Nusantara I
2,11,Vaini,TO,73.6,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,12,Rikitea,PF,72.1,light rain,-23.1203,-134.9692,People ThankYou
4,22,Saint-Philippe,RE,69.4,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Isesaki"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Isesaki"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hasaki"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Tateyama"]

In [6]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
282,657,Isesaki,JP,78.7,clear sky,36.3167,139.2,シーズ

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [21]:
print(type(start), start)

<class 'tuple'> (36.3167, 139.2)

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1, stop2, stop3]
fig = gmaps.figure()
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,657,Isesaki,JP,78.7,clear sky,36.3167,139.2000,シーズ
1,135,Hasaki,JP,75.3,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
2,363,Katsuura,JP,75.7,few clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,453,Tateyama,JP,76.1,overcast clouds,34.9833,139.8667,Tateyama Seaside Hotel

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map.
waypoints = [stop1, stop2, stop3]

fig = gmaps.figure(center=(36.0,140.0), zoom_level=7.5)
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING', 
                                    show_markers=False)
fig.add_layer(directions)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))